{:require  [sagittariidae.fe.checksum
            sagittariidae.fe.event
            sagittariidae.fe.file
            sagittariidae.fe.reagent-utils
            sagittariidae.fe.main
            sagittariidae.fe.state
            sagittariidae.fe.util]
 :init-fns [sagittariidae.fe.main/main]
 :compiler-options {}}
